body {
  background-color: #efeded;
}
.container {
  font-family: "Montserrat";
  width: 1500px;
  height: 477px;
  /* background-color: #ffffff; */

  margin-left: 300px;
  margin-top: 120px;
  /* padding-top: 200px; */
  position: fixed;
}
.title {
  margin-bottom: 30px;
  font-size: xx-large;
  font-weight: normal;
  background-color: #efeded;
}
.table-container {
  background-color: #ffffff;
}

.infor-bar {
  display: flex;
  padding-left: 42px;
  height: 50px;
}

.button {
  height: 20px;
  border: none;
  background-color: #ffffff;
  padding-right: 62px;
}

.button:hover {
  cursor: pointer;
}

.search-container {
  margin-top: 19px;
  margin-bottom: 28px;
  margin-left: 42.5px;
}

.search {
  width: 583px;
  height: 37px;
  border-radius: 10px;
  border-style: double;
  border-color: #dfd8d8;
  outline: none;
  padding-left: 39.5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  margin-right: 17px;
}

th {
  border-bottom: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  height: 53px;
  background-color: #f4f6f8;
  font-weight: 500;
}

td {
  border-bottom: 1px solid #dddddd;
  height: 53px;
  font-weight: 400;
}

.checkbox {
  padding-left: 37px;
}

tr {
  text-align: center;
  padding: 8px;
}

th,
td {
  font-size: 17px;
}
