.dropdown {
  width: 50px;
  margin-left: 150px;
  cursor: pointer;
}

.dropdowncontent {
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 60px;
  font-size: large;
  justify-content: center;
  margin-left: 29px;
  margin-top: 21px;
}

.dropdownbtn {
  width: 200px;
  height: 60px;
  background-color: #ffff;
}
.dropdownbtn:hover {
  background-color: #efeded;
}
