.container {
  width: 553px;
  height: 100px;
  border-radius: 90px;
  background-color: #dfd8d8;
  margin-bottom: 63px;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-container {
  width: 73px;
  height: 73px;
}

.product-info {
  font-size: 17px;
}

h1 {
  text-align: center;
}

.btn {
  background-color: #c3a06d;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-size: 50px;
  font-weight: 500;
  margin-right: 26px;
}

.btn:hover {
  background-color: #9c815b;
}
