/* .button:hover {
  border-style: solid;
  border-bottom-color: #2661ec;
  color: #2661ec;
  border-width: 2px;
  border-top: none;
  background-color: #ffffff;
  cursor: pointer;
} */

.search-container {
  margin-top: 19px;
  margin-bottom: 28px;
  margin-left: 42.5px;
}

.img {
  margin-right: 17px;
}

.button {
  @apply h-[50px] w-[200px] text-[15px] cursor-pointer;
}

.th {
  @apply border-b border-[#dddddd] text-center p-4 h-10 bg-[#f4f6f8] font-semibold;
}

.td {
  @apply border-b border-[#dddddd] h-14 font-[400] text-center;
}

.td-skeleton {
  border-bottom: none;
  cursor: pointer;
  height: 53px;
}

.checkbox {
  padding-left: 37px;
}

.tr {
  @apply text-center p-2 cursor-pointer hover:bg-[#eff7fd];
}

.th,
.td {
  @apply text-base;
}

.select {
  background-color: #eff7fd;
}

.current {
  @apply border-b-4 border-[#0088FF] text-center text-[#0088FF] opacity-90;
}

.status {
  @apply p-2 w-40 my-5 mx-auto outline rounded-[20px] font-semibold;
}

.status-closed {
  @apply bg-[#eae2f0] outline-[#876fca]  text-[#7506e4];
}

.status-success {
  @apply bg-[#f3fcf9] outline-[#9fedcf]  text-[#0db473] w-40 h-8 outline font-medium rounded-3xl mx-auto px-1 py-1;
}

.status-delivered {
  @apply bg-[#fffbf2] outline-[#ffdf9b]  text-[#e49c06] w-40 h-8 outline font-medium rounded-3xl mx-auto px-1 py-1;
}

.status-failed {
  @apply bg-[#f3fcf9] outline-[#876fca]  text-[#7506e4] w-40 h-8 outline font-medium rounded-3xl mx-auto px-1 py-1;
}
