.container {
  font-family: "Montserrat";
  display: flex;
}

.invoice-title {
  margin-top: 10px;
  margin-left: 23px;
  width: 50%;
  font-size: 30px;
  font-weight: 500;
}

.left-container {
  display: flex;
  flex-direction: column;
  margin: 0 23px;
  margin-top: 118px;
  height: 800px;
  width: 100%;
  overflow-y: scroll;
}
