.header {
  background-color: #ffffff;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 90px;
  width: 1566px;
  margin-left: 300px;
  border-bottom-style: solid;
}

.logo {
  /* margin-right: 800px; */
}

.img-logo {
  width: 80px;
  /* margin-right: 500px; */
  float: left;
  margin-left: 50px;
}
.text-logo {
  margin-top: 10px;

  margin-left: 100px;
}
.name {
  font-size: 25px;
  margin-left: 700px;
}
.arrow-down-icon {
  width: 30px;
  margin-left: 50px;
}
