@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scale-factor: 0.7;
}

body,
html {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
