.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
  border-radius: 20px;
}
.btn-modal:hover {
  background-color: #4caf50;
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -30%);
  line-height: 1.4;
  background: #f1f1f1;
  border-radius: 20px;
  width: 500px;
  height: 360px;
  border: none;
}

.modal-content[open] {
  animation: show-to-screen 0.5s ease-out;
}

.model-content[close] {
  animation: close-from-screen 0.5s ease-in;
}

.upper-content {
  position: relative;
  background-color: #02bc7d;
  border-radius: 20px;

  height: 250px;
}
.icon {
  @apply mx-40 w-40;
}
.text {
  @apply text-slate-200 mx-44 mt-5 text-xl font-semibold;
}
.close-modal {
  font-weight: 500;
  font-size: 20px;
  width: 100px;
  height: 50px;
  background-color: #02bc7d;
  margin-top: 25px;
  margin-left: 185px;
  color: #ffffff;
  border-radius: 10px;
}
.close-modal:hover {
  background-color: #01a46f;
}

@keyframes show-to-screen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes close-from-screen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
